<div class='col-md-6 col-md-offset-3 dot'>
  <h4 class='quote'><%= @quote.clean_quote %></h4>
  <h4 class='quote'><%= "p. #{@quote.page_number}" %></h4>
</div>

<br>

<div class='col-md-6 col-md-offset-3 '>
  <%= link_to image_tag("twitter-icon.png"), "https://twitter.com/intent/tweet?text=#{ @quote.clean_quote } p. #{@quote.page_number}", class: "twitter-share-button twitter-icon", target: "_blank" %>
</div>

