<div class='container'>

  <div class='row vertical-center-row col-md-12 text-center'>
    <h1 class='quote'><%= @quote.quote %></h1>

    <span>identify</span>

    <%= link_to vote_quote_path(@quote), method: :post, remote: true do %>
    <i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i>  
    <% end %>

    <span id='quote_<%= @quote.id %>_votes'><%= @quote.votes.count %></span>

  </div>

</div>