<div class='col-md-6 col-md-offset-3'>
  <h3>Infinite Jest</h3>
</div>

<div class='col-md-6 col-md-offset-3 dot'>
  <p><%= @quote.clean_quote %></p>
  <p><%= "p. #{@quote.page_number}" %></p>
</div>

<div class='col-md-6 col-md-offset-3'>
  <%= link_to image_tag("refresh.png", class: "recycle"), root_path %>
  <%= link_to image_tag("twitter-icon.png", class: 'twitter'), "https://twitter.com/intent/tweet?text=#{ @quote.clean_quote } p.#{@quote.page_number} via @jestdaily", class: "twitter-share-button twitter-icon", target: "_blank" %>
</div>

<div class='col-md-6 col-md-offset-3'>
  <small>Wallace, David Foster. Infinite Jest. Little, Brown and Company, 1996</small>
</div>
